# Locale & Keyboard
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string local

# User (admin123) & Password
d-i passwd/root-login boolean false
d-i passwd/user-fullname string admin123
d-i passwd/username string admin123
d-i passwd/user-password password password123
d-i passwd/user-password-again password password123
d-i user-setup/allow-password-weak boolean true

# Disk Partitioning (LVM)
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_full boolean true
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nochanges boolean true

# Packages & SSH
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo openssh-server curl git wget gnupg qemu-guest-agent cloud-init
d-i pkgsel/upgrade select full-upgrade

# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

# Finish
d-i finish-install/reboot_in_progress note

# Post-install: Set Sudo tanpa password buat user admin123
d-i preseed/late_command string \
    in-target sed -i 's/#PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config; \
    in-target sed -i 's/#PasswordAuthentication.*/PasswordAuthentication yes/g' /etc/ssh/sshd_config; \
    in-target systemctl enable ssh; \
    echo 'admin123 ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/admin123; \
    chmod 440 /target/etc/sudoers.d/admin123