# Locale & Keyboard
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-golden
d-i netcfg/get_domain string local

# User (admin) & Password
d-i passwd/user-fullname string admin
d-i passwd/username string admin
d-i passwd/user-password password password123
d-i passwd/user-password-again password password123
d-i user-setup/allow-password-weak boolean true

# Disk Partitioning (LVM)
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nochanges boolean true

# Packages & SSH
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo curl git
d-i pkgsel/upgrade select full-upgrade

# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

# Finish
d-i finish-install/reboot_in_progress note

# Post-install: Set Sudo tanpa password buat user iodine
d-i preseed/late_command string \
    echo 'iodine ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/iodine; \
    chmod 440 /target/etc/sudoers.d/iodine